/* .clearfix:after {

    content: "";

    display: block;

    clear: both;

} */

body {
    background: black;
}

.texture-bg {
    background-image: url("../images/topography.png");
}

#profile {
    border: 1px;
    border-style: outset;
    background-image: radial-gradient(black, #ffffff, white);
}

.common-bgcolor {
    background-color: #773355;
}

h1 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #773355;
    margin: 0 30px 0 30px;
    padding: 30px 0;
    position: relative;
}

h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: #773355;
    margin: 0 30px 0 30px;
    padding: 30px 0;
    position: relative;
}

img {
    float: left;
    padding: 20px;
}

ul {
    list-style: none;
}

.dropdown-toggle::after {
    display:none;
}